[cp_theme:default]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>[cp:pagename] - [cp_doc:titel]</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="Keywords" content="[cp:keywords]" />
<meta name="Description" content="[cp:description]" />
<meta name="robots" content="[cp:indexfollow]" />
<link href="[cp:mediapath]css/print.css" rel="stylesheet" type="text/css" media="all" />
[cp:donot_print]
<link href="[cp:mediapath]css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link href="[cp:mediapath]css/forum.css" rel="stylesheet" type="text/css" media="screen" />
[/cp:donot_print]
<script src="[cp:mediapath]js/common.js" type="text/javascript"></script>
<script src="[cp:mediapath]overlib/overlib.js" type="text/javascript"></script>
</head>

<body id="body">
[cp:donot_print]
<div id="topheader">
<a href="[cp:home]"><img src="[cp:mediapath]images/logo.gif" alt="Startseite" border="0" /></a>
</div>

<!-- ************* ВЕРХНЯЯ ПЛАНКА ************* -->
<div id="topbar">[cp:quickfinder]</div>

<!-- ************* СОДЕРЖАНИЕ ************* -->
[cp:maincontent]

[/cp:donot_print]

[cp:if_print]
<script language="JavaScript" type="text/javascript">
<!--
window.resizeTo(680,600);
window.moveTo(1,1);
window.print();
//-->
</script>
  <strong>Версия для печати</strong> <br />
  [cp:document] <br />
  <hr noshade="noshade" size="1" />
  <br />

  [cp:maincontent]
  <p>&nbsp;</p>
  [/cp:if_print]
  [cp:donot_print]
<div class="clear"></div>
<div id="footer">
 <a target="_blank" href="[cp:printlink]"> <img src="[cp:mediapath]images/printer.gif" alt="" border="0" />Печать страницы</a>
 |
[cp:recommend] | [cp:version]</div>

[/cp:donot_print]
</body>
</html>
[cp_counter:1]