/* _______________________ Ìîäóëü "Ôîðóì" _______________________ */ 
#forums_pop                 {margin:5px; text-align:left}
.forum_attachment_box       {border:1px inset #dedede; margin:10px; padding:3px}
.forum_small                {font-size:11px}
.toggletr                   {background:#dedede}

/* ---------- Neue Forenthemen ----------*/ 
.lastthreads_first          {background-color:#f1f1f1}
.lastthreads_second         {background-color:#f0f0f0}

/* ---------- Links ---------- */
a.forum_links:link,
a.forum_links:visited       {color:#555; font-weight:bold; text-decoration:underline}
a.forum_links:hover         {color:#555; font-weight:bold; text-decoration:none}

a.forum_head:link,
a.forum_head:visited        {color:#000; text-decoration:underline}
a.forum_head:hover          {text-decoration:none}

a.forum_links_small:link    {color:#000; font-weight:normal; text-decoration:underline}
a.forum_links_small:visited {color:#000; font-weight:normal; text-decoration:underline}
a.forum_links_small:hover   {color:#777; font-weight:normal; text-decoration:none}

a.forum_links_navi:link,
a.forum_links_navi:visited  {color:#777; font-weight:bold; text-decoration:none}
a.forum_links_navi:hover    {color:#000; font-weight:bold; text-decoration:none}

a.forum_links_cat:link,
a.forum_links_cat:visited   {font-size:12px; color:#3c3a3a; font-weight:bold}
a.forum_links_cat:hover     {font-size:12px; color:#3c3a3a; font-weight:bold}


.forum_topicheader          {color:#fff}
a.forum_topicheader:link,
a.forum_topicheader:visited {color:#fff; font-weight:bold; text-decoration:underline}
a.forum_topicheader:hover   {color:#fff; font-weight:bold; text-decoration:none}


/* ---------- Forumbeschreibung ---------- */
.f_info_comment             {font-size:11px}

/* ---------- Linke und Rechte Zeilenfarbe Beiträge ---------- */ 
.forum_post_first           {background-color:#f1f1f1}
.forum_post_second          {background-color:#fafafa}
.forum_topic_topheader      {background-color:#fafafa}

/* ---------- Fußbereich Beiträge  ---------- */ 
.forum_post_footer          {background-color:#e9e9e9}

/* ---------- Kopfbereich Forumtabellen  ---------- */ 
.forum_header               {background:#dedede; padding:5px}

/* ---------- Tabellenspalte der Icons ---------- */ 
.forum_info_icon            {width:30px; background-color:#f1f1f1; padding:2px; text-align:center}

/* ---------- Tabellenspalte Forumbeschreibung ---------- */ 
.forum_info_main            {background-color:#f1f1f1; padding:8px}
.forum_info_main:hover      {background-color:#fafafa; padding:8px}

/* ---------- Tabellenspalte Themenbeschreibung, letzter Beitrag ---------- */ 
.forum_info_meta            {background-color:#fafafa; padding:8px}

/* ---------- Tabellenspalte Forum anzeigen/schliessen (+ / -) ---------- */ 
.forum_toggle               {width:20px; background-color:#dedede}

/* ---------- Formatierung Tabellen Forenübersicht & Box "Profil, Passwort ändern..."  ---------- */ 
.forum_frame                {background-color:#fff; margin-bottom:1px}

/* ---------- Navigationsbaum  ---------- */ 
.forum_navi                 {padding:3px}

/* ---------- Tabellenkopf Forum ---------- */ 
.forum_header_bolder        {color:#3c3a3a; background:#cdcdcd /*url(../modules/forums/forum/header_bg.gif)*/; padding:5px}

/* ---------- Tabellenrahmen Forum ---------- */ 
.forum_tableborder          {background-color:#cdcdcd; padding:0px; border:0px solid #878373}

/* ---------- Box Forenstatistiken ---------- */ 
.forum_stats_box            {font-weight:bold; color:#777; background-color:#f3f3f3}

/* ---------- Benutzer-Signatur ---------- */ 
.user_sig                   {padding-top:4px}

/* ---------- Linie Über Benutzer-Signatur ---------- */ 
.user_sig_bar               {color:#ccc; padding-top:4px}

.forum_pn_unread            {color:#f00; font-weight:bold; text-decoration:blink}
