body, div, td, th, .button #body
{
                   font: 12px verdana, arial;color: #333333;
}

    
h1, h2             {display:inline}

.button            {}
.header            {background-color:#E4E4E4; padding:10px; margin-bottom:10px}

a:link,
a:visited          {color:#88c13e;}
a:hover            {color:#ccc;}




