/* _______________________ Модуль "Магазин"  _______________________ */
.mod_shop_header                             {color:#7b7769; background-color:#fff; border-bottom:1px solid #e1dfd6; padding:5px; margin-bottom:10px}
.mod_shop_header h2                          {color:#88c13e}
.mod_shop_header a:link                      {color:#88c13e}
.mod_shop_header a:visited                   {color:#88c13e}
.mod_shop_image                              {border: 0px solid #e1dfd6; padding:0px; margin-right:2px}
.mod_shop_text                               {border-bottom:1px solid #e1dfd6; padding-left:10px}
.mod_shop_insertrow                          {width:100px; background:#f8f8f8; padding:5px; border-bottom:1px solid #d9d7cf}
.mod_shop_price_big_shopstar                 {font-size:19px; font-weight:bold; color:#85816e}
.mod_shop_price_big                          {font-size:19px; font-weight:bold; color:#85816e}
.mod_shop_basket_price                       {color:#85816e}
.mod_shop_ust                                {color:#85816e}
.mod_shop_menue                              {width:200px; border-left:0px solid #d9d7cf; padding:12px 0 12px 12px;}
.mod_shop_basket                             {margin-top:0px; padding:8px; /*background:url(../images/box_gradient.gif) repeat-x;*/ border:1px solid #ddd;}
.mod_shop_addtotd                            {background:#f8f8f8}
.mod_shop_tabs                               {margin-bottom:5px; border-bottom:1px solid #e1dfd6; line-height:0.1em}
.mod_shop_itabs                              {cursor:pointer; background:#f8f8f8;  border:1px solid #e1dfd6; border-bottom:0px; float:left; width:auto; padding:5px;  white-space:nowrap; margin-right:2px}
.mod_shop_itabs:hover                        {background:#fff; color:#ccc; border:1px solid #ddd; border-bottom:0px; }
.mod_shop_none_display                       {display:none}
.mod_shop_topnav                             {border:1px solid #ddd; padding:4px; margin-bottom:8px}
.mod_shop_inputfields                        {padding:2px;}
.mod_shop_searchbox                          {margin-top:20px; padding:10px; background-color:#F8F8F8; border:1px solid #ddd}
.mod_shop_myordersbox                        {margin-top:20px; padding:8px; /*background:url(../images/box_gradient.gif) repeat-x;*/ border:1px solid #ddd;}
.mod_shop_stprices_vars                      {padding:5px; background-color:#f8f8f8}
.mod_shop_preorder_warn                      {color:#88c13e; font-size:10px}
.mod_shop_basket_header                      {font-weight:bold; background:#f0eee7; padding:5px; border-bottom:1px solid #bab7ac;} 
.mod_shop_basket_row                         {border-bottom:1px solid #bab7ac; padding-top:3px; padding-bottom:3px}
.mod_shop_basket_row_price                   {border-bottom:1px solid #bab7ac; /*border-right:1px solid #bab7ac;*/ padding:3px; background-color:#f8f8f8}
.mod_shop_basket_row_right                   {border-bottom:1px solid #bab7ac; padding-top:3px; padding-bottom:3px; background-color:#fcfbf8}
.mod_shop_basket_summ                        {font-weight:bold; color:#88c13e}
.mod_shop_popupheader                        {background-color:#88c13e; color:#fff; padding:5px; font-size:14px}
.mod_shop_timetillshipping                   {color:#85816e}
.mod_shop_warn                               {border:1px solid #f00; color:#f00; padding:4px; background:#FFFFEC; margin-bottom:5px}
.mod_shop_checkoutborder                     {border:1px solid #bab7ac}
.mod_shop_payment_headers                    {background-color:#88c13e; padding:4px; color:#fff; font-weight:bold; border-bottom:1px solid #fff}
.mod_shop_payment_shipppayheaders            {background-color:#f4f4f4; padding:0px; color:#999; font-size:17px; font-weight:bold}
.mod_shop_payment_shipppayrows               {background-color:#f0eee7; font-weight:bold}
.mod_shop_payment_table                      {background-color:#f0eee7}
.mod_shop_bar                                {background-color:#f0eee7; color:#777; padding:5px;}
.mod_shop_barborder                          {background-color:#fff}
.mod_shop_bar_active                         {width:50px; background-color:#88c13e; color:#fff; font-size:28px; font-weight:bold; text-align:center}
.mod_shop_bar_inactive                       {width:50px; background-color:#c2bfb4; color:#85816e; font-size:24px; font-weight:bold; text-align:center}
.mod_shop_steps_active                       {color:#777; background-color:#f0eee7; width:25%; padding:4px}
.mod_shop_steps_inactive                     {color:#c4c2b8; background-color:#f0eee7; width:25%; padding:4px}
.mod_shop_summlist                           {padding:2px}
.mod_shop_summoverall                        {font-size:14px; background-color:#f0eee7; border-top:1px solid #777; padding:2px; font-weight:bold}
.mod_shop_incvat                             {padding:1px; color:#777}
.mod_shop_orders_header                      {background-color:#f0eee7; border-bottom:1px solid #ddd}
.mod_shop_orders_form                        {background-color:#f0eee7}
.mod_shop_orders_wait                        {background-color:#ccc; width:50px;height:50px; border:1px solid #fff}
.mod_shop_orders_progress                    {background-color:#fc0; width:50px;height:50px; border:1px solid #fff}
.mod_shop_orders_ok                          {background-color:#090; width:50px;height:50px; border:1px solid #fff}
.mod_shop_orders_ok_send                     {background-color:#09f; width:50px;height:50px; border:1px solid #fff}
.mod_shop_orders_failed                      {background-color:#f00; width:50px;height:50px; border:1px solid #fff}
.mod_shop_download_typheader                 {background-color:#fff; font-style:italic; font-weight:bold; border-bottom:1px solid #ddd; padding:2px}
.mod_shop_shop_items_left                    {background-color:#fff; border:1px solid #F1F1F1; height:150px; margin-right:10px; padding:5px}
.mod_shop_shop_items_right                   {background-color:#fff; border:1px solid #F1F1F1; height:150px; margin-bottom:10px; padding:5px}
.mod_shop_toptopseller_bottom                {background-color:#f8f8f8; font-weight:bold; text-align:center; padding:3px}
.mod_shop_left                               {padding:12px 12px 12px 0; width:220px}
.mod_shop_agb                                {border:1px solid #85816e}

#contents_middle_shop                        {background:#fff; min-height:300px; padding:12px 10px; width:532px; border-left:0px solid #88c13e;overflow:hidden}
#contents_middle_shop2                       {background:#fff; min-height:300px; padding:12px 0 12px 10px; width:734px; border-left:0px solid #88c13e;overflow:hidden}

.mod_shop_basket_row img.absmiddle           {padding-top:3px; padding-bottom:3px}

/* _______________________ Магазин - Навигация _______________________ */
#leftnavi .shop_sub_div_active               {background-color:#f5f5f5; padding:3px; border-bottom:1px solid #ccc}
#leftnavi .shop_sub_div                      {background-color:#fff; padding:3px; border-bottom:1px solid #ddd}
#leftnavi a.shopnavi_second_active:link,
#leftnavi a.shopnavi_second_active:visited   {font-weight:bold; color:#88c13e; text-decoration:none}
#leftnavi a.shopnavi_second_active:hover     {font-weight:bold; color:#88c13e; text-decoration:none}
#leftnavi a.shopnavi_second_inactive:link,     
#leftnavi a.shopnavi_second_inactive:visited {color:#666; text-decoration:none}
#leftnavi a.shopnavi_second_inactive:hover   {color:#88c13e}

/* _______________________ SLIMBOX 1.63 _______________________ */
#lbOverlay                                   {position:absolute; z-index:9999; left:0; width:100%; background-color:#000; cursor:pointer}
#lbCenter, #lbBottomContainer                {position:absolute; z-index:9999; left:50%; overflow:hidden; background-color:#fff}
.lbLoading                                   {background:#fff url(../images/loading.gif) no-repeat center}
#lbImage                                     {position:absolute; left:0; top:0; border:10px solid #fff; background-repeat:no-repeat}
#lbPrevLink, #lbNextLink                     {display:block; position:absolute; top:0; width:50%; outline:none}
#lbPrevLink                                  {left:0}
#lbPrevLink:hover                            {background:transparent url(../images/prevlabel.gif) no-repeat 0% 15%}
#lbNextLink                                  {right:0}
#lbNextLink:hover                            {background:transparent url(../images/nextlabel.gif) no-repeat 100% 15%}
#lbBottom                                    {font-family:Verdana, Arial, Geneva, Helvetica, sans-serif; font-size:10px; color:#666; line-height:1.4em; text-align:left; border:10px solid #fff; border-top-style:none}
#lbCloseLink                                 {display:block; float:right; width:66px; height:22px; background:transparent url(../images/closelabel.gif) no-repeat center; margin:5px 0; outline:none}
#lbCaption, #lbNumber                        {margin-right:71px}
#lbCaption                                   {font-weight:bold}
