body, 
div, 
td, 
.loginfield,
select,
input,
textarea 
                        {font: 10px verdana,'trebuchet ms', verdana;color: #333}

form                    {display:inline;}
body                    {background:#fff;margin:0px}
input,textarea          {padding:1px;}
input.field 			{font: 12px verdana; height: 20px;}
.login_box_hf           {padding:2px; color:#484848;}
.logintext              {color:#fff}
.loginfield             {border:1px solid #ddd}

