body                    {font-family: Arial, Helvetica, sans-serif;font-size: 11px;margin: 0px;padding: 0px;background-color: #E8E8E8;}
#body2                  {background-color:#BFBFBF}
.feld,textarea,.button  {font-size: 11px;color: #000;font-family: Arial, Verdana,  Helvetica, sans-serif;}
.c1                     {background-color: #F0F0F0;}
.warning_border         {border: 2px solid #777; margin:5px; padding:5px; color:#EEC00A; background-color:#fff; font-weight:bold}
td                      {font-family: Arial, Helvetica, sans-serif;font-size: 11px}
.tableborder            {background-color: #FFFFFF;}
a:link                  {color: #000;text-decoration: underline;font-size: 11px;}
a:visited               {color: #000;text-decoration: underline;font-size: 11px}
a:hover                 {color: #EEC00A;text-decoration: none;font-size: 11px;}


